In [1]:
#1.
v=['happy',[1,2,3,4],12.3,(1,2,3)]
print(v)

['happy', [1, 2, 3, 4], 12.3, (1, 2, 3)]

In [6]:
#2.
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ '‘DS’' ,'ML', 'Python' ]
var4 = 1.
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [13]:
#3.
a=2/12
print(a),#used for the divide
b=2%4
print(b),#used for the quiotent
c=2//2,#used for the floor divion if note completely divides then it gives the 0
print(c)
d=2**4
print(d),#used for the power

0.16666666666666666
2
1
16

(None,)

In [15]:
#4.
a=[1,2.3,[45,25],'aks',(1,2,3),{1,2,31111111111},{'name':'sharma'}]
for i in a:
    print(i)
    print(type(i))

1
<class 'int'>
2.3
<class 'float'>
[45, 25]
<class 'list'>
aks
<class 'str'>
(1, 2, 3)
<class 'tuple'>
{1, 2, 31111111111}
<class 'set'>
{'name': 'sharma'}
<class 'dict'>

In [1]:
#5.
a=int(input("Enter The First Number"))
b=int(input("Enter The Second Number"))
counter=1
while a%b==0:
    a=a//b
    counter+=1
if(counter>0):
    print("yes the given number is completely divisible",counter,"times")
else:
    print("no the number is note completely divisible")

Enter The First Number 5
Enter The Second Number 2

yes the given number is completely divisible 1 times

In [15]:
#6.
a=[1,2,3,4,5,6,7,8,9,10,12,15,42,45,78,45,12,4,5,5,5,5,55,7,8]
for i in a:
    if i%3==0:
        print("yes the number is completely divisible",i)
else:
    print("the number is note complete divisible")

yes the number is completely divisible 3
yes the number is completely divisible 6
yes the number is completely divisible 9
yes the number is completely divisible 12
yes the number is completely divisible 15
yes the number is completely divisible 42
yes the number is completely divisible 45
yes the number is completely divisible 78
yes the number is completely divisible 45
yes the number is completely divisible 12
the number is note complete divisible

In [ ]:
#7.....
#mutable and the immutable datatypes:-
#mutable- these are those types of the datatypes which we can perform the change easily
#immutable-these are tottaly opposite from the mutable types in these we are esily note able to perform the chnges
#examples of mutable-list,set,dictionary
#examples of the immutable-string,integer,tuple